body {
  margin: 0;
  font-family: sans-serif;
  background: #222;
  color: #ddd;
  text-align: center;
}
.App{
  width: 960px;
  margin: 0 auto;
}
h1{
  color: #ffff57;
  font-size: 4em;
  letter-spacing: 2px;
}
button{
  margin: 0 10px;
  background-color: transparent;
  border: 3px solid orange;
  border-radius: 20px;
  padding: 10px;
  color: #222;
  font-size: 1.2em;
  cursor: pointer;
}
button:hover{
  color: #777;
  border-color: #333;
  background-color: #111;
}
.content{
  text-align: center;
}

.card {
  width: 50%;
  margin: 0 auto;
  border: 1px solid aliceblue;
  border-collapse: collapse;
  background-color: #111;
}

.card:hover {
  background-color: #222;
  color: #ddd;
  
}

.loading {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  margin: 5rem 0;
  color: yellow;
}

.error {
  color: red;
  font-size: 2rem;
}

.name {
  font-size: 1.5rem;
  color: #ffff57;
  
}

.subname {
  
  font-size: 1rem;
  color: #777;
}

p {
  margin: 0.3rem 0;
}